# server connection
SERVER_HOST=localhost
SERVER_PORT=8000

# db connection
POSTGRESS_URI=
DB_NAME=
COLLECTION_NAME=

# paseto
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# frontend
FRONTEND_URL=
